<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>
  <div class="login-container">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text"[(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button expand="full" class="login-button" (click)="login()">Login</ion-button>
    <ion-button expand="full" class="register-button">Register</ion-button>
  </div>
</ion-card>
</ion-content>