.Logo-Duoc{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.fondito{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.texto-recuperar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(242, 243, 245);
}

.fondodemierda{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 
    padding-bottom: 30%;
    
}



