.Logo-Duoc{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.fondito{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.texto-recuperar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(242, 243, 245);
}

.fondodemierda{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 
    padding-bottom: 100%;

}

.login-button{
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.75rem rgb(34, 61, 211));
    
}

.aqui{
    filter: brightness(1.75);
    filter: contrast(1.75);
    color: rgb(201, 11, 11);
}

.aqui:hover{
    text-decoration: underline;
    color: rgb(206, 206, 17);
}




