<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-img class="ion-text-center" src="../../assets/icon/Duoc.png" alt="DuocUC"></ion-img>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" [fullscreen]="true">

  <ion-card>


  <div class="login-container">
    <ion-item>
      <ion-input type="text" [(ngModel)]="username" label="Usuario" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" label="Contraseña" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-col >
      <ion-row class="ion-justify-content-center">
        <ion-button class="login-button" (click)="login()" fill="outline">Ingresar</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button class="register-button" fill="outline">Registrar</ion-button>
      </ion-row>
      <br>
      <ion-row class="ion-justify-content-center">
      <ion-text> ¿No recuerdas tu contraseña? <br> Has click <a href= "https://youtu.be/dQw4w9WgXcQ?si=SDQH8UmKxEGg_gIj">aqui</a> para recuperarla </ion-text>
      </ion-row> 
    </ion-col>
  </div>

</ion-card>
</ion-content>