<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-img class="ion-text-center logo-ATP" src="../../assets/img/logo ATP v1.png" alt="Logo ATP"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content  class="ion-padding" [fullscreen]="true" #card>
  <div class="container-fluid">
    <ion-img class="ion-text-center Logo-Duoc" src="../../assets/img/Duoc.png" alt="DuocUC"></ion-img>
  </div>

  <div class="fondito">
    <ion-card >
      <div class="container-fliud">
        <ion-item>
          <ion-input type="text" [(ngModel)]="username" label="Usuario" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" [(ngModel)]="password" label="Contraseña" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-col >
          <ion-row >
            <ion-button class="login-button" (click)="login()" fill="outline">Ingresar</ion-button>
          </ion-row>  
        </ion-col>
      </div>
    </ion-card>
    <div class="container-fliud fondodemierda">
      <ion-row class="texto-recuperar">
        <ion-text color="primary-contrast"> ¿No recuerdas tu contraseña? <br><br> Has click <a class="aqui" (click)="recuperarContrasena()">aquí</a> para recuperarla </ion-text>
      </ion-row> 
    </div>
  </div> 
  <ion-toast
    [isOpen]="isToastOpen"
    message="Usuario o contraseña incorrectos"
    position="bottom"
    [duration]="3000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
  

</ion-content>