<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-img class="ion-text-center logo-ATP" src="../../assets/img/logo ATP v1.png" alt="Logo ATP"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #card>
  <div class="container-fluid Imagen_fondo_docente">
    <img src="../../assets/img/Profesor(a).jpg" alt="Fondo docentes">
  </div>

  <ion-col class="columna-card">
    <ion-card *ngIf="usuarioActual">
      <ion-card-header>
        <ion-card-title>{{ usuarioActual.name }}</ion-card-title>
        <ion-card-subtitle>
          BIENVENIDO
        </ion-card-subtitle>
      </ion-card-header>
        <ion-img src="../../assets/img/profe hernan.jpg" alt="Imagen de perfil docente" class="ion-text-center imagen_perfil_docente"></ion-img>
      <ion-card-content>
        <p>Nombres: {{ usuarioActual.name }}</p>
        <br>
        <p>Apellidos: {{ usuarioActual.last_name }}</p>
        <br>
        <p>Tipo de Usuario: {{ usuarioActual.type }}</p>    
      </ion-card-content>
    </ion-card>
  </ion-col>
  
  <ion-col class="columna-botones" >
    <ion-row>
      <ion-button color="light" class="Generar-QR" fill="outline">
        <span style="margin-right: 5px;">
          GENERAR QR
        </span>   
        <ion-icon name="qr-code-sharp"></ion-icon>
      </ion-button>
    </ion-row>
    <ion-row><br></ion-row>
    <ion-row >
      <ion-button color="light" class="Cerrar-Sesion" fill="outline">CERRAR SESIÓN</ion-button>
    </ion-row>
  </ion-col>


</ion-content>