.Imagen_fondo_alumno{
    margin-bottom: 1rem;
}

.magen_perfil_alumno{
    margin-bottom: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 200px;
}

.columna-botones{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6);
    padding-top: 3rem; 
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Escanear-QR, .Cerrar-Sesion{
    filter: drop-shadow(0 0 0.75rem rgb(223, 240, 161));
}