<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-img class="ion-text-center" src="../../assets/img/logo ATP v1.png" alt="Logo ATP"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <ion-img class="ion-text-center Logo-Duoc" src="../../assets/img/Duoc.png" alt="DuocUC"></ion-img>
  </div>

  
  <div>
    <ion-item>
      <ion-input type="text" label="Usuario" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-row><br></ion-row>
  <div class="container-fluid fondo-recuperar">   
    <ion-row class="ion-justify-content-center">
      <ion-button color="light" class="boton-recuperar" fill="outline">RECUPERAR</ion-button>
    </ion-row>
   
    <ion-row><br></ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-text class="ion-text-center Texto-Recuperar"> Una vez ingresado correctamente tu Usuario se <br><br> mostrará tu Contraseña y volveras a la pantalla<br><br> de login  </ion-text>
    </ion-row> 
  </div>
  </div>
  
</ion-content>