<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-img class="ion-text-center" src="../../assets/img/DuocATP oscuro recortado.png" alt="Logo ATP"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-fluid">
    <ion-img class="ion-text-center Logo-Duoc" src="../../assets/img/Duoc.png" alt="DuocUC"></ion-img>
  </div>

  
  <div>
    <ion-item>
      <ion-input type="text"  label="Correo Electronico" labelPlacement="floating" #Correo></ion-input>
    </ion-item>

    <ion-row><br></ion-row>
  <div class="container-fluid fondo-recuperar">   
    <ion-row >
      <ion-button color="light" class="boton-recuperar" fill="outline" (click)="setOpen(true)">RECUPERAR</ion-button>
  
      <!-- mensaje de alerta
      En el elemento "message" se debe agregar la variable que contiene la contraseña
      -->
      <ion-alert
      [isOpen]="isAlertOpen"
      header = "Correo Electronico"
      subHeader="Se ha enviado un correo a tu cuenta"
      message="{{Correo.value}}"
      [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"
      (didPresent)="redirect()"
      ></ion-alert>
    
    </ion-row>
   
    <ion-row><br></ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-text class="ion-text-center Texto-Recuperar"> Una vez ingresado correctamente tu Correo se <br><br> enviará un enlace de recuperacion y podras volver<br><br>a la pantalla de login  </ion-text>
    </ion-row> 
  </div>
  </div>
  
</ion-content>