.Logo-Duoc{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.fondo-recuperar{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 
    padding-bottom: 40%;
    padding-top: 3rem;
}

/*intento de dejar boton en blanco con letras negras
.boton-recuperar{
    background-color: rgb(242, 243, 245);
    color: black;
} */

.Texto-Recuperar{
    color: rgb(242, 243, 245);
}